@font-face {
  font-family:"Dico";
  src: url("font/Dico.ttf") format("truetype");
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body {
  height: 100%;
  font-family: "Dico";
}

.black{
  background-color: black;
}


.noscroll{
  overflow: hidden; /* Hide scrollbars */
}

h1{
  color: white;
  font-size: 2.5em;

}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerButton{
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translate(-50%);
}

a{
  text-decoration: none;
  color: white;
}


a:hover{
  text-decoration: none;
  color: blue;
}

.home{
    margin-left: 0.6em;
    margin-top: 0%;
    display: inline-block;
}

.topLinkRow{
  display: inline-block;
}

.topLink{
    margin-left: 0em;
    margin-top: 0%;
    display: inline-block;
}

.white-big{
  font-size: 1.5em;
  color: white;
}

.embed-responsive-item{
  min-width: 400px;
  min-height: 300px;
  width: 100%;
}
