body {
  font-family: 'Inter', sans-serif;
  color: black;
}

@font-face {
  font-family: IvyMode;
  src: local("Ivy Mode Bold"),
    local("IvyMode-Bold"),
    url(font/IvyMode-Bold.ttf);
}

@font-face {
  font-family: IvyMode;
  src: local("Ivy Mode SemiBold"),
    local("IvyMode-SemiBold"),
    url(font/IvyMode-SemiBold.ttf);
}

h1 {
  font-family: 'IvyMode';
  font-weight: bold;
  white-space: nowrap;

}

h2 {
  font-family: 'IvyMode';
  font-weight: bold;
  white-space: nowrap;
}

.container1 {
  cursor: grab;
  overflow: auto;
}

.container2 {
  overflow: auto;
}

.container3 {
  cursor: grab;
  overflow: auto;
}

.img-square {
  width: 7em;
  height: 7em;
}

.eventi-text {
  text-align: right;
}

.eventi-hover:hover {
  color: #065A3E;
}

.scroll-hide::-webkit-scrollbar {
  height: 0px;
}

.bg-nav {
  background-color: #09A16E;
}

.bg-nav a:hover {
  color: white;
}


.bg-nav.scrolled {
  background-color: white;
}

.bg-nav.scrolled.dos {
  background-color: #F3F3F3;
}

.bg-nav.scrolled a:hover {
  color: #09A16E;
}

.bg-green {
  background-color: #09A16E;
}

.bg-green2 {
  background-color: #09A16E;
}

.bg-blue {
  background-color: #046274;
}

.bg-gray {
  background-color: #F3F3F3;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-white {
  color: white;
}

.navbar-custom {
  font-weight: 600;
}

.nav-item a {
  color: black;
}


#app {
  padding: 6em 0 3em;
}

.supportaci {
  color: black;
  background-color: white;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci.scrolled {
  color: white;
  background-color: #09A16E;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci2 {
  color: white;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci2 a:hover {
  color: white;
  background-color: black;
  border-radius: 10em;
}

.text-khelp {
  font-family: 'IvyMode';
  text-align: right;
  font-size: 1.2em;
  font-weight: SemiBold;
  color: white;
  margin-right: 4.3em;
  margin-bottom: 0.8em;
  margin-left: 60%;
}

.text-khelp.scrolled {
  color: black;
}

.shadow-img {
  -webkit-filter: drop-shadow(0px 0.5em 1em lightgray);
  filter: drop-shadow(0px 0.5em 1em lightgray);
}

.shadow-support {
  -webkit-filter: drop-shadow(0px 0.2em 0.6em #087450);
  filter: drop-shadow(0px 0.2em 0.6em #087450);
}

.shadow-support.scrolled {
  -webkit-filter: drop-shadow(0px 0.5em 1em lightgray);
  filter: drop-shadow(0px 0.5em 1em lightgray);
}

.shadow-img2 {
  -webkit-filter: drop-shadow(0px 0.5em 1em #087450);
  filter: drop-shadow(0px 0.5em 1em #087450);
}

.max-w {
  max-width: 40em;
}

.max-w-eventi {
  max-width: 70em;
}

.max-w2 {
  max-width: 50em;
}

.max-w3 {
  max-width: 60em;
}

.h-phone {
  height: 40em;
}

.w-download img {
  width: 10em;
}

.h-card {
  height: 28em;
}

.h-card2 {
  height: 32em;
  width: 24em;
  background-color: #F3F3F3;
  min-width: 24em;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.card {
  border: none;
}

.card img {
  border-radius: 0px;
}

.selection img:hover {
  opacity: 20%;
  color: black;
}

.border {
  border-radius: 2em;
}

.border img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.border-event img{
  border-radius: 1em;
}

.text-article {
  max-width: 20em;
}

.blur{
  z-index: -1;
}
.blur img{
  width:100%;
  height:auto;
}

.reveal {
  position: relative;
  transform: translateX(400px);
  transition: 2s all ease;
}

.reveal2 {
  position: relative;
  transform: translateX(100px);
  transition: 3s all ease;
}

.reveal.active {
  transform: translateX(0px);
}

.reveal2.active2 {
  transform: translateX(0px);
}

.expand {
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

.expand:hover {
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

#download:focus, #download:active {
  outline: none !important;
  box-shadow: none;
}

#expand:focus, #expand:active {
  outline: none !important;
  box-shadow: none;
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

df-messenger {
  --df-messenger-bot-message: #33A7BD;
  --df-messenger-button-titlebar-color: #33A7BD;
  --df-messenger-chat-background-color: #F3F3F3;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #09A16E;
  --df-messenger-user-message: #09A16E;
}
