body {
  font-family: 'Inter', sans-serif;
  color: black;
}

section div, a{
  z-index: 100;
}

.background-body{


  background-image: url("img/fondale.svg");
  background-size: 100%;

 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

}

@font-face {
  font-family: IvyMode;
  src: local("Ivy Mode Bold"),
    local("IvyMode-Bold"),
    url(font/IvyMode-Bold.ttf);
}

@font-face {
  font-family: IvyMode;
  src: local("Ivy Mode SemiBold"),
    local("IvyMode-SemiBold"),
    url(font/IvyMode-SemiBold.ttf);
}

.ivy-mode {
  font-family: 'IvyMode';
  font-weight: bold;
  white-space: nowrap;
}

h1 {
  font-family: 'IvyMode';
  font-weight: bold;
  white-space: nowrap;
}

h2 {
  font-family: 'IvyMode';
  font-weight: bold;
  white-space: nowrap;
}


.container1 {
  cursor: grab;
  overflow: auto;
}

.container2 {
  overflow: auto;
}

.container-tre {
  cursor: grab;
  overflow: auto;
}

.img-square {
  width: 7em;
  height: 7em;
}

.eventi-text {
  text-align: right;
}

.eventi-hover:hover {
  color: #065A3E;
}

.article {
  text-decoration: none;
  color: inherit;
}

.scroll-hide::-webkit-scrollbar {
  height: 0px;
}

.bg-nav {
  background-color: #09A16E;
}

.bg-nav a:hover {
  color: white;
}

.bg-nav.scrolled {
  background-color: white;
}

.bg-nav.scrolled.dos {
  background-color: #F3F3F3;
}

.bg-nav.scrolled a:hover {
  color: #09A16E;
}

.bg-green {
  background-color: #09A16E;
}

.bg-green2 {
  background-color: #09A16E;
}

.bg-blue {
  background-color: #046274;
}

.bg-gray {
  background-color: #F3F3F3;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-white {
  color: white;
}

.navbar-custom {
  font-weight: 600;
}

.nav-item a {
  color: black;
}

#app {
  padding: 6em 0 3em;
}

.supportaci {
  color: black;
  background-color: white;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci.scrolled {
  color: white;
  background-color: #09A16E;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci2 {
  color: white;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci2 a:hover {
  color: white;
  background-color: black;
  border-radius: 10em;
}


.text-khelp {
  font-family: 'IvyMode';
  text-align: right;
  font-size: 1.2em;
  font-weight: SemiBold;
  color: black;
  margin-right: 4.3em;
  margin-bottom: 0.8em;
  margin-left: 60%;
}

/*
.text-khelp.scrolled {
  color: black;
}
*/
.shadow-img {
  -webkit-filter: drop-shadow(0px 0.5em 1em lightgray);
  filter: drop-shadow(0px 0.5em 1em lightgray);
}

.shadow-support {
  -webkit-filter: drop-shadow(0px 0.2em 0.6em #087450);
  filter: drop-shadow(0px 0.2em 0.6em #087450);
}

.shadow-support.scrolled {
  -webkit-filter: drop-shadow(0px 0.5em 1em lightgray);
  filter: drop-shadow(0px 0.5em 1em lightgray);
}

.shadow-img2 {
  -webkit-filter: drop-shadow(0px 0.5em 1em #087450);
  filter: drop-shadow(0px 0.5em 1em #087450);
}

.max-w {
  max-width: 40em;
}

.max-w-eventi {
  max-width: 70em;
}

.max-w2 {
  max-width: 50em;
}

.max-w3 {
  max-width: 60em;
}

.h-phone {
  height: 40em;
}

.w-download img {
  width: 10em;
}

.h-card {
  max-height: 28em;
}

.h-card2 {
  height: 34em;
  width: 24em;
  background-color: #F3F3F3;
  min-width: 24em;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.card {
  border: none;
}

.card img {
  border-radius: 0px;
}

.selection img:hover {
  opacity: 20%;
  color: black;
}

.border {
  border-radius: 2.5em;
}

.border img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.border-event img {
  border-radius: 1em;
}

.text-article {
  max-width: 20em;
}

.blur {
  z-index: 0;
}

.blur img {
  width: 100%;
  height: auto;
}

.reveal {
  position: relative;
  transform: translateX(400px);
  transition: 2s all ease;
}

.reveal2 {
  position: relative;
  transform: translateX(100px);
  transition: 3s all ease;
}

.reveal.active {
  transform: translateX(0px);
}

.reveal2.active2 {
  transform: translateX(0px);
}

.expand {
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

.expand:hover {
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

.link-article {
  text-decoration: none;
  color: inherit;
}

.link-article:hover {
  color: #046274;
}

.text-support {
  max-width: 40em;
}

.support {
  background-color: #09A16E;
  border-color: #09A16E;
  border-radius: 3.5em;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1.2em 1.8em;
  text-align: center;
}

.support:hover {
  background-color: black;
  border-color: black;
  border-radius: 3.5em;
  color: #09A16E;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1.2em 1.8em;
  text-align: center;
}

#download:focus, #download:active {
  outline: none !important;
  box-shadow: none;
}

#expand:focus, #expand:active {
  outline: none !important;
  box-shadow: none;
  background-color: #065A3E;
  color: white;
  border-color: #065A3E;
  border-radius: 3em;
  padding: 0.4em 1.3em;
}

df-messenger {
  --df-messenger-bot-message: #33A7BD;
  --df-messenger-button-titlebar-color: #33A7BD;
  --df-messenger-chat-background-color: #F3F3F3;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #09A16E;
  --df-messenger-user-message: #09A16E;
}

/*guidelines*/
.bg-nav-guideline {
  background-color: #F3F3F3;
}

.nav-item-guideline a {
  color: black;
}

.nav-item-guideline:hover a {
  color: #09A16E;
}

.shadow-support-guideline {
  -webkit-filter: drop-shadow(0px 0.5em 1em lightgray);
  filter: drop-shadow(0px 0.5em 1em lightgray);
}

.supportaci-guideline {
  color: white;
  background-color: #09A16E;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.supportaci-guideline:hover {
  color: #09A16E;
  background-color: black;
  border-radius: 10em;
  width: 8em;
  text-align: center;
}

.width-nav {
  width: 15em;
  z-index: 100;
}

.guideline-btn {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  color: black;
  border-radius: 1em;
  padding: 0.4em 1em;
  font-size: 1.1em;
  -webkit-filter: drop-shadow(0px 0.3em 0.5em lightgray);
  filter: drop-shadow(0px 0.3em 0.5em lightgray);
}

.guideline-btn:hover {
  outline: none !important;
  box-shadow: none !important;
  color: white;
  background-color: black;
  border-radius: 1em;
  padding: 0.4em 1em;
  font-size: 1.1em;
}

#card-guideline {
  background-color: none;
}

.guideline-btn:focus, .guideline-btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  color: black;
  border-radius: 1em;
  padding: 0.4em 1em;
  font-size: 1.1em;
}

button {
  border-width: 0;
}

.nav-link2 {
  color: black;
  text-decoration: none;
  padding: 0.7em 0;
}

.nav-link2:hover {
  color: #09A16E;
}

.offcanvas {
  max-width: 18em;
}

h5 {
  font-weight: 600;
}

.h2-guideline {
  font-family: 'Inter', sans-serif;
  color: black;
  letter-spacing: -0.03em;
}

hr {
  height: 0.07em;
  color: black;
  border-color: black;
  opacity: 80%;
}

.guideline-card {
  background-color: white;
  border-radius: 3em;
  padding: 3em 2em 1.5em 2em;
  -webkit-filter: drop-shadow(0px 0.5em 0.5em lightgray);
  filter: drop-shadow(0px 0.5em 0.5em lightgray);
  line-height: 1.3em;
}

.width-yesno img {
  width: 2.2em;
}

.card-dodont {
  background-color: white;
  -webkit-filter: drop-shadow(0px 0.1em 0.2em lightgray);
  filter: drop-shadow(0px 0.1em 0.2em lightgray);
  border-radius: 1em;
  padding: 0.5em 0.4em;
  margin: 1.2em 0.5em;
}

.card2 img {
  border-radius: 2em;
}

.reveal3 {
  position: relative;
  transform: translateX(1000px);
  transition: 2s all ease;
}

.reveal3.active3 {
  transform: translateX(0px);
}
